
@import url('http://fonts.googleapis.com/css?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
}
.container{
    /* width: 100%;
    z-index: 0;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    flex-wrap: wrap; */
    width: 100%;
    background-color:#2b1700;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.image-section {
    width: 40%;
}

@media screen and (max-width: 100px){
    
    .container{
        height:500px;
        width: 100%;
        display: block;
        
        background-color:#2b1700;
       
        background-size: cover;
        padding-left: 5%;
        padding-right: 5%;
        box-sizing: border-box;
        position: relative;
    } 
}
.navbar{
    z-index: 1;
    width: 100%;
    height: 70px;
    margin: auto;
    display: flex;
    align-items:  center; 
    cursor: pointer;
    background: white;  
    position: sticky;
    top: 0px;
    justify-content: space-evenly;
    
}
.navli{
    justify-content: space-evenly;
    display: inline-block;
    list-style: none;
    margin: 0px 10px;
    border: 1px solid transparent;
   font-style: normal;
   font-weight: 300px;
   color:  #412920;
   position:relative;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}

.signup{
    color: #3f2417;
    font-size: 15px;
    
    height: 30px;
    width: auto;
    border-radius: 15px;   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.up{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    font-weight: 700;
    margin-left: 30px;
}
.in{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#2b1700;
    font-weight: 700;
    margin-left: 30px;
}

header{
    width: 100%;
    height: 10px;
    margin: auto;
    display: flex;
    align-items:  center; 
    cursor: pointer;
}
.logo{
    width: 80px;
    cursor: pointer;
    padding: 40px;
    height: 70px;
    border-radius: 50px;
    display: grid;
    margin: 20px;
}
.cart{
    width:50px ;
    cursor: pointer;
    border-radius: 50px;
    display: flex;
}
nav{
    flex: 1;
    padding-left: 170px;
    display:flex;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0px 10px;
    border: 1px solid transparent;
   font-style: normal;
  
   color:  #412920;
   text-decoration: none;
   position:relative;
   padding: 6px 13px;
   border-radius:10%;
   font-weight:bold;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size:13px;
   border-color:transparent;
  
}
.content-h1{
    font-weight: 500px;
    font-size: 5.5rem;
    color:#ecdfc4;
}
   
.container p{
    font-size: 1.4rem;
   color:#ecdfc4;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   text-align: left;
}

.btn-1{
    height: 45px;
    width: 150px;
    background-color: #d3b570;
    color: #3f2417;

}

.btn-2{
    height: 45px;
    width: 150px;
   
    color:#d3b570 ; 
    border-style: solid; 
    border-width: 1.3px;
    border-color: #d3b570;
}
.contents{
    width: 50%;
}

.feature-img{
    object-fit: cover;
    object-position: 0px;
    height: 60vh;
    width: 100%;
    border-radius: 20px 0px 20px 0px;
   

}/*
.custom-shape-divider-top-1697966924 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1697966924 svg {
    position: relative;
    display: block;
    width: calc(127% + 1.3px);
    height: 197px;
}

.custom-shape-divider-top-1697966924 .shape-fill {
    fill: #2b1700;
}

/** For mobile devices **/
/*@media (max-width: 767px) {
    .custom-shape-divider-top-1697966924 svg {
        width: calc(139% + 1.3px);
        height: 158px;
    }
}*/
.about{
    width:100% ;
    height: 550px;
    padding: 50px 0px 90px;
   background: #dcb669; 
}
.about img{
    height: 500px;
    width: 550px;
    
    padding-bottom: 10;
    animation: 7s linear 0s infinite  slide;
   
}
.about-text{
    width: 550px;


}
.pic{
    float: left;
  
   
}


.discover{
    text-align: left;
}
.main{
    width: 1130px;
    max-width: 95%;
    overflow: hidden;
   
    
   
    display: flex;

    align-items: center;
    justify-content: space-around;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font: weight 100px; 
}
.about-text h2{
    color: black;
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}
.about-text h4{
    color: black;
    letter-spacing: 0.5px;
    font-size: 20px;
    margin-bottom: 25px;
    text-transform: capitalize;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.about-text p{
    
    font-weight: 500;
    font-size: 18;
    line-height: 28px;
    letter-spacing: 0.5px;
    margin-bottom: 40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation: slideleft 2s ease;
    overflow: hidden;



}
button{
    background-color:#2b1700;
    cursor: pointer;
   
    color:#e7dcc4;
    text-decoration: none;
    width: auto;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: px;

    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    height: 40px;


}

.service{
    width:100% ;
    height: 600px;
    background-color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#ttitle {
    color: #2b1700;
    text-align: center;
    text-decoration: #e7dcc4;
    font-size: 25px;
   
    
}
.subtitle{
    text-align: center;
    text-decoration: #e7dcc4;
    font-size: 20px;
    color:#2b1700;
} 


.box{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px;

}  
.card{
    height: 300px;
    width: 290px;
    padding:20px 35px;
  /* background:#dcb669; */
   border-style:solid ;
 
   border-color:#dcb669;
   border-width:2px;
    margin: 25px; 

 
    overflow: hidden;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
/*.card:hover {
    flex: 3;
    background-color:#2b1700;
 
    cursor: pointer;
    color: white;
    
}*/


p{
    color: black;
    text-align: center;
    font-size:  1.5rem;
    margin-left: auto;
    margin-right: auto;
    
    line-height: 30px;
    margin-bottom: 25px;
    font-weight: 700px;
    
    
}
a{
     text-decoration: none;
     color: #2b1700;
}


#footerr{
        padding: 5px;
        height: 350px;
      background: #2b1700;
    text-decoration: none;
        width: auto;
       display: flex;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     justify-content: center;
    

}

.contact{
    display: flex;
    margin: 15px;
    position: relative
    ;
    margin-top: 50px;
   


}
.us{
   display: block;
   text-decoration: none;
   position: relative;
   left :-10px;
   text-align: left;
   justify-content: left;

}
h3{
    font-size: 30px;
    color:#ecdfc4 ;

}
.send{
    text-align: left;
    color: #ecdfc4;

}
form{
    display: inline;
    position: relative;
    text-decoration: none;

}
input{
    height: 30px;

}
textarea{
    height: 70px;
   width: 250px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}

.submit{
    text-align: left;
    justify-content: left;
    color:  #2b1700;
    background: #dcb669;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}
.list{
    color: #ecdfc4 ;

}
.find-us{
    display: block;
    margin-left: 80px;
    right: -40px;
    color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.sitemap{
    left: -20px;
    cursor: pointer;
}
.logoo{
border-radius: 20px;
}

.copyright{
  
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 30px;
    width: auto;
    margin-top: px;
    font-weight: 900px;
    background:white;
   
}

.copyright p{
    font-size: 15px;

}






    

   




